<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/black</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping resource="com/ssh/pojo/Student.hbm.xml"/>
  <mapping resource="com/ssh/pojo/Clazz.hbm.xml"/>
  <mapping resource="com/ssh/pojo/User.hbm.xml"/>
  <mapping resource="com/ssh/pojo/Jieduan.hbm.xml"/>
  <mapping resource="com/ssh/pojo/Kaoshi.hbm.xml"/>
  <mapping resource="com/ssh/pojo/Kqjilu.hbm.xml"/>
  <mapping resource="com/ssh/pojo/Kqtype.hbm.xml"/>
  <mapping resource="com/ssh/pojo/Rol.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
